body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: monospace;
}

#ui {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #d6c7ff;
  background: rgba(0,0,0,0.4);
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
}
